@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #444444;
}

nav {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.text-shadow {
  text-shadow: 5px 5px 5px rgba(0, 0, 5);
}

.text-shadow-sm {
  text-shadow: 5px 5px 10px rgb(10, 10, 10);
}

.image-brightness-wrapper {
  filter: contrast(50%);
  filter: brightness(80%);
}

.shadow-lg {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login-form {
  position: relative;
  display: block;
  background: #ffffff;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 32rem;
  margin: auto;
  margin-top: 1.5rem;
  padding: 2rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.min-height-home {
  min-height: 12rem;
}
